body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1198px;
  background-color: #ffffff;
  padding-bottom: 40px;
  margin: 0 auto;
}

.main {
  background-color: #222222;
  margin: 0 auto;
  font-weight: 700;
  width: 100%;
  background-size: cover;
  transition: all 0.2s ease;
}
.main__text {
  color: #ffffff;
  padding-left: 80px;
  margin: 0 0 30px 0;
  font-family: "Myriad Pro Light";
}
.main__text--title {
  padding-top: 40px;
  font-size: 120px;
  font-weight: 500;
}
.main__text--title:first-letter {
  color: #ffc600;
}
.main__text--word {
  font-size: 16px;
  font-weight: 300;
}
.main__text--word:first-letter {
  color: #ffc600;
}
.main__text--link {
  color: #ffc600;
  text-decoration: none;
  font-weight: 300;
  transition: 0.2s;
  padding-bottom: 20px;
}
.main__text--link:hover {
  color: #ffffff;
}

.head {
  font-family: myriad-pro, sans-serif;
  padding-bottom: 400px;
  background: url("../img/head.png") top/cover no-repeat;
}
.head__title {
  color: #ffffff;
  font-size: 35px;
  padding: 50px 46px;
}
.head__color {
  color: #ffc600;
}
.head__menu {
  margin: 0;
  padding: 0;
}
.head__list {
  display: flex;
}
.head__item {
  list-style-type: none;
  margin-left: 30px;
}
.head__item:nth-child(1) {
  margin-left: 46px;
}
.head__link {
  color: #ffc600;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}
.head__link:hover {
  color: #ffffff;
}
.head__game {
  position: absolute;
  margin-left: 530px;
  margin-top: 40px;
  text-align: center;
}
.head input[type=checkbox] {
  display: none;
}
.head__popup {
  display: none;
  width: 400px;
  height: 200px;
  background: #ffffff;
  position: absolute;
  margin: 0 auto;
  padding-bottom: 15px;
}
.head label {
  display: inline-block;
  color: #222222;
  font-weight: 400;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 30px;
}
input:checked ~ .head__popup {
  display: block;
  background: white;
  width: 360px;
  height: 270px;
  margin: 10px 0 0 -110px;
}

.inner {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #333;
  margin: 5px;
  cursor: pointer;
  box-shadow: 3px 4px 1px 2px rgba(1, 1, 1, 0.1);
  text-shadow: 2px 3px 1px rgba(1, 1, 1, 0.3);
  user-select: none;
}

table {
  margin-top: 15px;
}

#win_block {
  display: none;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}

#win_block .again {
  font-weight: bold;
  cursor: pointer;
  color: #369;
  border-bottom: 1px solid #369;
}

#win_block .again:hover {
  border-color: transparent;
}

#game {
  position: relative;
}

#game .table {
  display: table;
  margin: 0 auto;
  position: relative;
}

#game .table .winning {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 200, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

#game table tr:first-child div {
  margin-top: 0;
}

#game table tr:last-child div {
  margin-bottom: 0;
}

#game table tr td:first-child div {
  margin-left: 0;
}

#game table tr td:last-child div {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
