@import "utils/variables";


  body {
    margin: 0;
    padding: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    width: 100%;
    max-width: 1198px;
    background-color: $color-2;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .main {
    background-color: $color-1;
    margin: 0 auto;
    font-weight: 700;
    width: 100%;
    background-size: cover;
    transition: all .2s ease;

    &__text {
      color: $color-2;
      padding-left: 80px;
      margin: 0 0 30px 0;
      font-family: $font-family-2;
    }

    &__text--title {
      padding-top: 40px;
      font-size: 120px;
      font-weight: 500;

      &:first-letter {
        color: $color-3;
      }
    }

    &__text--word {
      font-size: 16px;
      font-weight: 300;

      &:first-letter {
        color: $color-3;
      }
    }

    &__text--link {
      color: $color-3;
      text-decoration: none;
      font-weight: 300;
      transition: 0.2s;
      padding-bottom: 20px;

      &:hover {
        color: $color-2;
      }
    }
  }

  .head {
    font-family: $font-family;
    padding-bottom: 400px;
    background: url("../img/head.png") top/cover no-repeat;

    &__title {
      color: $color-2;
      font-size: 35px;
      padding: 50px 46px;
    }

    &__color {
      color: $color-3;
    }

    &__menu {
      margin: 0;
      padding: 0;
    }

    &__list {
      display: flex;
    }

    &__item {
      list-style-type: none;
      margin-left: 30px;

      &:nth-child(1) {
        margin-left: 46px;
      }
    }

    &__link {
      color: $color-3;
      text-decoration: none;
      font-weight: 400;
      transition: 0.2s;

      &:hover {
        color: $color-2;
      }
    }
    &__game {
      position: absolute;
      margin-left: 530px;
      margin-top: 40px;
      text-align: center;
    }

    input[type='checkbox'] {
      display: none;
    }

    &__popup {
      display: none;
      width: 400px;
      height: 200px;
      background: $color-2;
      position: absolute;
      margin: 0 auto;
      padding-bottom: 15px;
    }

    label {
      display: inline-block;
      color: $color-1;
      font-weight: 400;
      background: $color-2;
      border-radius: 5px;
      padding: 15px 30px;
    }

    input:checked ~ &__popup {
      display: block;
      background: white;
      width: 360px;
      height: 270px;
      margin: 10px 0 0 -110px;
    }
  }


.inner {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #333;
  margin: 5px;
  cursor: pointer;

  box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1);
  text-shadow: 2px 3px  1px rgba(1,1,1, 0.3);
  user-select: none;
}
table {
  margin-top: 15px;
}

#win_block {
  display: none;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}
#win_block .again{
  font-weight: bold;
  cursor: pointer;
  color: #369;
  border-bottom: 1px solid #369;
}
#win_block .again:hover{
  border-color: transparent;

}


#game {
  position: relative;
}
#game .table{
  display: table;

  margin: 0 auto;
  position: relative;
}
#game .table .winning{
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,200,0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
}

#game table tr:first-child div {
  margin-top: 0;
}
#game table tr:last-child div {
  margin-bottom: 0;
}
#game table tr td:first-child div {
  margin-left: 0;
}
#game table tr td:last-child div {
  margin-right: 0;
}





